/* Add your styling as needed */
.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.App{display: flex;
flex-wrap: wrap;
justify-content: space-between;
text-align: center;
background-color:#333;}
.row1{
  background-color:#333
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
}
h4{
  margin-right: 20px;
 font-size: medium;
}

nav a {
  text-decoration: none;
  color: #333;
}

nav a:hover {
  color: #007bff;
}

nav .active a {
  color: #007bff;
  font-weight: bold;
}

.App-header{
  background-color: #333;
}
.footer{
  padding: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color:#333;
}
.social-container {
  background-color:#333;
  padding-top: 25px;
  

}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;

}
a.social:hover {
  transform: translateY(10px);
}

a.linkedin {
  color: white;
}

a.facebook {
  color:white;
}

a.twitter {
  color:white;
}

a.instagram {
  color: white;
}
body {
  margin: 0;
}

.scroll {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;
}

.active {
  color: black !important;
}
input[type=text], select {
  width: 100%;
  padding: 8px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 0px;
  box-sizing: border-box;
}
input[type=email], select {
  width: 100%;
  padding: 8px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius:0px;
  box-sizing: border-box;
}

button[type=submit] {
  width: 30%;
  background-color: blue;
  color: white;
  padding: 8px 8px;
  margin: 8px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}